<template>
  <div class="container mx-auto p-4 my-8">
    <ChampionData v-if="champion" :champion="champion" />
    <div v-if="champion" class="">{{ champion }}</div>
  </div>
</template>

<script>
  import ChampionData from "@/components/ChampionData";
  import {
    getChampion
  } from "@/services/api/champion.js";

  export default {
    name: "Champion",
    data() {
      return {
        isLoading: false,
        hasError: false,
        champion: undefined
      };
    },
    components: {
      ChampionData
    },
    methods: {
      fetchChampion(slug) {
        const self = this;
        self.isLoading = true;
        self.hasError = false;
        return getChampion(slug)
          .then(champion => {
            // self.champion = champion.data;
            self.champion = champion.data[Object.keys(champion.data)[0]]
            console.log(self.champion)
          })
          .catch(() => {
            self.hasError = true;
          })
          .finally(() => {
            self.isLoading = false;
          });
      }
    },
    created() {
      const slug = this.$route.params.champion;
      if (!this.champion) {
        this.fetchChampion(slug);
      }
    }
  };
</script>