<template>
  <div>
    <div class="p-3 bg-white">
      <div class="container mx-auto p-4 text-center">
        <h1 class="text-xl">CHAMPIONS</h1>
      </div>
    </div>
    <div class="container mx-auto p-4">
      <div v-if="champions">
        <div class="w-full text-right pt-2">
          <button v-on:click="toggleFilter()" class="pl-4 pr-5 py-2 cursor-pointer hover:bg-yellow-light shadow-md rounded bg-white"><svg xmlns="http://www.w3.org/2000/svg" width="105" height="73" viewBox="0 0 105 73" class="inline-block align-middle w-6 h-6 mr-3">
              <rect y="33" width="105" height="7"></rect>
              <circle cx="81" cy="37" r="9" fill="#fff" stroke="#000" stroke-miterlimit="10" stroke-width="2"></circle>
              <rect y="6" width="105" height="7"></rect>
              <circle cx="25" cy="10" r="9" fill="#fff" stroke="#000" stroke-miterlimit="10" stroke-width="2"></circle>
              <rect y="59" width="105" height="7"></rect>
              <circle cx="25" cy="63" r="9" fill="#fff" stroke="#000" stroke-miterlimit="10" stroke-width="2"></circle>
            </svg><span class="inline-block align-middle">Filter</span></button></div>
        <div v-if="filter === true" class="filter w-full bg-white my-6 px-4 pt-4 pb-2 text-sm">
          <p class="mb-4">TYPE</p>
          <div v-for="type in championTypes" :key="type.key" class="mr-2 mb-2 inline-block relative">
            <label class=""><input v-model="checkChampionTypes" type="checkbox" :value="type" class="absolute opacity-0 pin-t pin-l"><span class="text-black border border-yellow rounded px-4 py-2 cursor-pointer block hover:bg-yellow filter"><span class="inline-block align-middle">{{ type }}</span><svg class="w-3 h-3 ml-2 hidden inline-block align-middle" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" /></svg></span> </label>
          </div>
        </div>
        <div class="-mx-2 flex flex-wrap my-4">
          <button v-on:click="openChampion(champion)" v-for="champion in filteredChampions" :key="champion.key" class="w-1/4 sm:w-1/6 md:w-1/10 p-2 text-center focus:outline-none hover:bg-white rounded">
            <img class="w-full" :src="'/static-data/img/champion/' + champion.image.full">
            <p class="p-1">{{ champion.name }}</p>
          </button>
        </div>
        <div v-if="showModal" class="fixed overflow-auto pin z-50 background-opacity flex md:items-center">
          <div class="max-w-lg mx-auto relative">
            <ChampionData :champion="currentChampion" />
            <button v-on:click="closeModal()" class="absolute pin-t pin-r p-2 bg-yellow text-white">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="100%" height="100%" class="h-6 w-6 fill-current">
                <path d="M32 3.223L28.777 0 16 12.777 3.223 0 0 3.223 12.777 16 0 28.777 3.223 32 16 19.223 28.777 32 32 28.777 19.223 16z"></path>
              </svg></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    mapState
  } from "vuex";
  
  import ChampionData from "@/components/ChampionData";

  export default {
    name: "champions",
    components: {
      ChampionData
    },
    data() {
      return {
        championTypes: ["Assassin", "Fighter", "Mage", "Marksman", "Support", "Tank"],
        checkChampionTypes: [],
        filter: false,
        showModal: false,
        currentChampion: undefined
      }
    },
    computed: {
      ...mapState(["champions"]),
      filteredChampions() {
        if (this.checkChampionTypes.length > 0) {
          console.log(this.checkChampionTypes)
          const championsArray = Object.keys(this.champions.champions.data).map((key) => {
            return this.champions.champions.data[key]
          })
          return championsArray.filter((champion) => {
            return champion.tags.some((tag) => {
              return this.checkChampionTypes.includes(tag)
            });
          })
        } else {
          return this.champions.champions.data
        }
      }
    },
    mounted() {
      this.$store.dispatch("loadChampions");
    },
    methods: {
      toggleFilter() {
        this.filter = !this.filter;
      },
      openChampion(champion) {
        history.pushState({}, null, "/champions/" + champion.id.toLowerCase());
        this.currentChampion = champion;
        this.showModal = true;
      },
      closeModal() {
        history.back();
        this.showModal = false;
        this.currentChampion = null;
      }
    }
  }
</script>

<style>
  .background-opacity {
    background-color: rgba(0, 0, 0, .5);
  }

  .filter input:checked+span {
    @apply bg-yellow;
  }

  .filter input:checked+span svg {
    display: inline-block;
  }
</style>