<template>
  <div class="container mx-auto p-4">
    <div class="my-8">
      <h1>Homepage</h1>
      <div v-if="status">
        <p v-for="status in status.status.services" :key="status.slug">
          {{ status.name }}: <span :class="status.status === 'online' ? 'bg-green' : 'bg-red'" class="rounded-full w-3 h-3 inline-block"></span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    mapState
  } from "vuex";

  export default {
    name: 'home',
    computed: {
      ...mapState(["status"])
    },
    mounted() {
      this.$store.dispatch('loadStatus')
    }
  }
</script>

<style>
</style>