<template>
  <div>
    {{ getChallengers }}
  </div>
</template>

<script>
  import {
    mapState,
    mapGetters,
    mapActions
  } from "vuex";

  export default {
    name: "Ladder",
    computed: {
      ...mapGetters([
        "getChallengers"
      ])
    },
    methods: {
      ...mapActions(["loadChallengers"])
    },
    created() {
      this.loadChallengers();
    }
  }
</script>

<style>
</style>