<template>
  <div>
    <!-- <p v-if="isLoading">Loading...</p> -->
    <div class="p-3 bg-white">
      <div class="container mx-auto p-4">
        <div v-if="summoner" class="flex items-center">
          <img class="w-12 h-12 mr-4" :src="'/static-data/img/profileicon/' + summoner.profileIconId + '.png'">
          <div>
            <p class="text-lg text-black leading-none">{{ summoner.name }}</p>
            <p class="text-sm text-grey-dark">Level {{ summoner.summonerLevel }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto p-4">
      <div class="my-8">
        <h2>Matchlist</h2>
        <div v-if="matchlist">
          <Match v-for="match in matchlist.slice(0, 5)" :champions="champions" :key="match.gameId" :id="match.gameId" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    mapState
  } from "vuex";

  import {
    getSummonerName
  } from '@/services/api/summonerName.js';

  import {
    getMatchList
  } from '@/services/api/matches.js';


  import Match from '@/components/Match';

  export default {
    name: 'Summoner',
    components: {
      Match
    },
    data() {
      return {
        isLoading: false,
        hasError: false,
        summonerSearched: this.$route.params.id,
        summoner: undefined,
        matchlist: undefined
      };
    },
    methods: {
      fetchSummoner() {
        var self = this;
        self.isLoading = true;
        self.hasError = false;
        return getSummonerName(self.summonerSearched)
          .then(data => {
            self.summoner = data
          })
          .catch(() => {
            self.hasError = true;
          })
          .finally(() => {
            self.isLoading = false;
            self.fetchMatchList();
          });
      },
      fetchMatchList() {
        var self = this;
        self.isLoading = true;
        self.hasError = false;
        return getMatchList(self.summoner.accountId)
          .then(data => {
            self.matchlist = data.matches
            console.log(self.matchlist)
          })
          .catch(() => {
            self.hasError = true;
          })
          .finally(() => {
            self.isLoading = false;
          });
      }
    },
    computed: {
      ...mapState(["champions"])
    },
    mounted() {
      this.fetchSummoner();
      this.$store.dispatch('loadChampions')
    }
  }
</script>

<style>

</style>