<template>
  <div class="bg-white p-8">
    <div class="flex items-center">
      <img class="w-12 h-12 mr-4" :src="'/static-data/img/champion/' + champion.id + '.png'">
      <div class="text-lg">
        <h3 class="text-black leading-none">{{ champion.name }}</h3>
        <p class="text-grey-dark">{{ champion.title }}</p>
      </div>
    </div>
    <div class="flex flex-wrap my-4">
      <div class="w-full">
        <p>{{ champion.blurb }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Champion",
    props: ["champion"]
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>