<template>
  <div>
    <nav class="flex items-center justify-between flex-wrap border-b-2 border-white">
      <div class="flex items-center flex-no-shrink mr-6">
        <router-link to="/" class="p-6 border-r-2 border-white">
          <img class="w-24" src="@/assets/logo.png">
        </router-link>
      </div>
      <div class="block md:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div class="w-full block flex-grow md:flex md:items-center md:w-auto">
        <div class="text-md md:flex-grow">
          <router-link :to="{name: 'Champions'}" active-class="bg-white" class="block uppercase text-sm mt-4 rounded p-2 text-grey-darkest md:inline-block md:mt-0 no-underline mr-8 hover:bg-white hover:text-black">
            Champions
          </router-link>
          <router-link :to="{name: 'Ladder'}" class="block uppercase text-sm mt-4 rounded p-2 text-grey-darkest md:inline-block md:mt-0 no-underline mr-8 hover:bg-white hover:text-black">
            <svg version="1.1" class="inline-block align-middle w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve">
              <g>
                <path fill="currentColor" d="M21,2c-2.466,0-5.391,1.099-5.491,6.238L6.5,6.736V6.5C6.5,3.268,7.683,3,9,3
		c0.829,0,1.5-0.671,1.5-1.5S9.829,0,9,0C6.491,0,3.5,1.128,3.5,6.5v15C3.5,22.328,4.171,23,5,23s1.5-0.672,1.5-1.5v-2.736l9,1.5
		V24.5c0,0.828,0.672,1.5,1.5,1.5s1.5-0.672,1.5-1.5v-16C18.5,5.268,19.683,5,21,5c0.828,0,1.5-0.671,1.5-1.5S21.828,2,21,2z
		 M15.5,10.264v2.973l-9-1.5V8.764L15.5,10.264z M6.5,16.736v-2.973l9,1.5v2.973L6.5,16.736z" />
              </g>
            </svg>
            <span class="inline-block align-middle">Ladder</span>
          </router-link>
        </div>
        <div class="p-6">
          <form v-on:submit.prevent="navigate()" class="relative">
            <input class="shadow appearance-none rounded-full w-full py-2 pl-3 pr-8 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" v-model="summonerSearched" placeholder="Search summoner.." />
            <input class="absolute pin-t pin-r submit bg-yellow-light h-full w-10 z-2 cursor-pointer rounded-r-full focus:bg-yellow custom-submit" type="submit" value="">
          </form>
        </div>
      </div>
    </nav>



  </div>
</template>

<script>
  export default {
    name: 'Header',
    data() {
      return {
        summonerSearched: undefined
      };
    },
    methods: {
      navigate() {
        this.$router.push({
          name: 'Summoner',
          params: {
            id: this.summonerSearched
          }
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .custom-submit {
    background-image: url("~@/assets/magnifier.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
  }
</style>