<template>
  <div class="match">
    <!-- {{ this.champs }} -->
    <p v-if="isLoading">Loading...</p>
    <div v-if="match" class="card border p-4">
      <p>{{ match.gameMode }}</p>
      <div v-for="(player, key) in match.participants" :key="player.accountId">
        <p>{{ match.participantIdentities[key].player.summonerName }}</p>
        <p>champ: {{ player.championId }}</p>
        <p>{{ player.highestAchievedSeasonTier }} </p>
        <div class="flex items-center">
          <img class="w-10 h-10 rounded-full mr-4" :src="'/static-data/img/champion/' + findChampById(player.championId).image.full">
          <div class="text-sm">
            <p class="text-black leading-none">{{ findChampById(player.championId).name }} </p>
            <p class="text-grey-dark">{{ findChampById(player.championId).tags }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    getMatch
  } from '@/services/api/matches.js';

  export default {
    name: 'match',
    props: {
      id: Number,
      champions: Object
    },
    data() {
      return {
        isLoading: false,
        hasError: false,
        match: undefined,
        champs: this.champions.champions.data,
        champ: undefined
      }
    },
    methods: {
      findChampById(id) {
        return Object.values(this.champs).find((s) => s.key === '16');
      }
    },
    mounted() {
      const self = this;
      self.isLoading = true;
      self.hasError = false;
      return getMatch(self.id)
        .then(data => {
          self.match = data;
        })
        .catch(() => {
          self.hasError = true;
        })
        .finally(() => {
          self.isLoading = false;
        })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>