<template>
  <div id="app" class="bg-yellow min-h-screen text-grey-darkest">
    <Header />
      <router-view :key="$route.fullPath" />
  </div>
</template>

<script>
  import Header from '@/components/Header';

  export default {
    name: 'app',
    components: {
      Header
    }
  }
</script>

<style lang="scss">
  @import "./styles/main";
</style>